---
layout: default
---
{% assign posts_count = site.chapters | size %}

<div class="home center">
  {% if posts_count > 0 %}

    <div class="posts">
      {% for post in site.chapters %}
        <div class="post py3">
          <p class="post-meta">
            #{{ forloop.index }}
      	  </p>
          <a href="{{ post.url | relative_url }}" class="post-link"><h2 class="post-title caps">{{ post.title }}</h2></a>
          <span class="post-summary justify">
            {{ post.scene | default: post.summary | default: post.excerpt }}
          </span>
        </div>
      {% endfor %}
    </div>

    {% else %}
    <h1 class="h2 caps">{{ site.text.index.coming_soon | default: "Coming soon..." }}</h1>
  {% endif %}
</div>
